<h5 class="mb-2">Consulta de Fornecedores</h5>
<table class="table table-sm table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Razão Social</th>
      <th scope="col">CNPJ</th>
    </tr>
  </thead>
  <tbody>
    <!-- linhas da tabelas -->
    <tr *ngFor="let f of fornecedores">
      <td>{{f.razaoSocial | uppercase}}</td>
      <td>{{f.cnpj}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">Quantidade de fornecedores: {{fornecedores.length}}</td>
    </tr>
  </tfoot>
</table>
